venv

tests/*
!tests/.gitkeep

config/*
!config/.gitkeep

inventory/*
!inventory/example_inventory.yaml
!inventory/group_vars/
inventory/group_vars/*
!inventory/group_vars/all.yaml
!inventory/group_vars/example_setup.yaml

.vscode/
*.log
.vault_password
.DS_Store


__pycache__
