iptables -F
{% for peer, peer_ip in peers -%}
iptables -A INPUT -p udp -s {{peer_ip}} --dport 5000 -j LOG --log-prefix '[{{peer}}_rx]'
iptables -A INPUT -p udp -s {{peer_ip}} --dport 5000 -j DROP
iptables -A OUTPUT -p udp -d {{peer_ip}} --dport 5000 -j LOG --log-prefix '[{{peer}}_tx]'
iptables -A OUTPUT -p udp -d {{peer_ip}} --dport 5000 -j ACCEPT
{% endfor %}
