iptables -F
{% for peer, peer_ip in peers -%}
{% for flow_number in flows -%}
iptables -A INPUT -p udp -s {{peer_ip}} --dport 5000 --sport {{flow_number}} -j DROP -m comment --comment '[{{peer}}_rx_{{flow_number}}]'
iptables -A OUTPUT -p udp -d {{peer_ip}} --dport 5000 --sport {{flow_number}} -j ACCEPT -m comment --comment '[{{peer}}_tx_{{flow_number}}]'
{% endfor %}
{% endfor %}
