iptables -F
{% for peer in peers -%}
iptables -A INPUT -p tcp -s {{ peers[peer]['ip'] }}  --dport 5000 -j LOG --log-tcp-sequence --log-prefix '[{{peer}}_rx]'
iptables -A INPUT -p tcp -s {{ peers[peer]['ip'] }}  --dport 5000 -j DROP
iptables -A OUTPUT -p tcp -d {{ peers[peer]['ip'] }}  --dport 5000 -j LOG --log-tcp-sequence --log-prefix '[{{peer}}_tx]'
iptables -A OUTPUT -p tcp -d {{ peers[peer]['ip'] }}  --dport 5000 -j ACCEPT
{% endfor %}

{% for peer in peers -%}
iptables -A INPUT -p udp -s {{ peers[peer]['ip'] }}  --dport 5000 -j LOG --log-tcp-sequence --log-prefix '[{{peer}}_rx]'
iptables -A INPUT -p udp -s {{ peers[peer]['ip'] }}  --dport 5000 -j DROP
iptables -A OUTPUT -p udp -d {{ peers[peer]['ip'] }}  --dport 5000 -j LOG --log-tcp-sequence --log-prefix '[{{peer}}_tx]'
iptables -A OUTPUT -p udp -d {{ peers[peer]['ip'] }}  --dport 5000 -j ACCEPT
{% endfor %}
